body > div { 
    color: white;
    font-size: 16px;
}

#innehol { 
    width: 100%;
}

#left {
    width: 50%; 
    display: inline-block;
    float: left;

}
#right { 
    width: 50%; 
    display: inline-block;
    float: right;

}
